.flex{
    display: flex;
}
a{
    text-decoration: none;
}
.auth-container{
    margin:100px 0;
}
.container{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items:center;
    justify-content:center;
}
.container > h5,.note-header h5{
    font-weight: 500;
    font-size:2rem;
    color: #151515;
}
.logo{
    width: 100px;
    height: 100px;
}
.container > p,.note-header p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color:rgba(21, 21, 21, 1);
    margin:10px 0 50px;
    text-align:center;
}
.btn{
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #151515; 
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #121212;
    background: #ffff;
    font-family:'Montserrat';
    font-weight:500;
    transition:all .2s ease-in-out;
    width:100%;
}
/* .reset-header{} */
.or{
    margin:10px 0!important;
    padding: 4px 0;
    font-family: 'Montserrat', sans-serif;
}
form input{
    width: 100%;
}
.form-container{
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
label{
    color:#353535;
    font-size: 1rem;
    font-weight: 500;
    font-family:'Montserrat';
}
.input-holder{
    margin-top: 5px;
    border-radius: 6px;
    padding: 13px;
    border: 1px solid rgba(105, 105, 105, 1);
    font-family:'Montserrat';
    font-size:calc(1rem - 2px);
}
.password{
    position: relative;
}
.password > input{
    width: 100%;
}
.icon{
    color:#585858;
    position: absolute;
    top: 20px;
    right: 20px;
    /* font-size: 19px; */
}
.link-right{
    text-align: right;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #2E7D32;
    font-size: 12px;
    margin: 5px 0;
}
.click-btn{
    background-color: #2E7D32;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 100px ;
    border-radius: 6px;
    font-size: 15px;
    border:1px solid transparent;
    font-family:'Poppins';
    font-size:calc(1rem);
    transition:all .2s ease-in-out;
    font-weight:500;
}
.link-bottom{
    margin: 12px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align:center;
}
.link-bottom-btn{
    color: #2E7D32;
    font-weight: 600;
}
button:hover{
    background-color: #FFA000;
    cursor: pointer;
    border: 1px solid #FFA000; 
    color:#fff
}
.link-right:hover, .link-bottom-btn:hover{
    color: #151515;
}
a{transition:all .2s ease-in-out;}
.btn img{width:24px;height:24px;}
.signup-btn,.login-btn{margin-top:20px;}
form,.btn-header{width:400px;}
.btn-header button{margin-top:0;}
.success-note{margin-bottom:30px!important;}
.return-btn-head{margin-top:15px;}
.return-btn{font-size:calc(1rem);transition:all .2s ease-in-out;display:flex;align-items:center;}
.return-btn i{margin-right:8px;position:relative;transition:all .2s ease-in-out;font-weight:500;}
.return-btn:hover i{transform:translateX(-5px);}
.note-header{text-align:center;}
 .goback{
    font-size: 1rem;
    color: #2E7D32;
    font-weight: 500;
 }
/* media queries */
@media screen and (max-width: 768px){
    .btn{padding: 10px 70px;}
    form, .btn-header{width:90%;margin:0 auto;}
    .auth-container{margin:80px 0 100px;}
    .btn{padding: 10px 0px;}
    .signup-btn, .login-btn{padding:10px 0px;}
    .success-note br{display:none;}
}
@media screen and (max-width:300px) {
    .btn{padding: 10px 0px;}
    .signup-btn, .login-btn{padding:10px 0px;}
}
/* @media (min-width: 1024px){
    .btn{
        padding: 5px 150px;
    }
} */
