.flex{
    display: flex;
}
a{
    text-decoration: none;
}
.auth-container{
    margin:100px 0;
}
.container{
    width:400px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items:center;
    justify-content:center;
}
.container > h5{
    font-weight: 500;
    font-size:2rem;
    color: #151515;
}
.logo{
    width: 100px;
    height: 100px;
}
.container > p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color:rgba(21, 21, 21, 1);
    margin:10px 0 50px;
    text-align:center;
}
.btn{
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #151515; 
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #121212;
    background: #ffff;
    font-family:'Montserrat';
    font-weight:500;
    transition:all .2s ease-in-out;
    width:100%;
}
.btn img{width:24px;height:24px;}
.signup-btn,.login-btn{margin-top:20px;}
.or{
    margin:10px 0!important;
    padding: 4px 0;
    font-family: 'Montserrat', sans-serif;
}
form{
    width: 100%;
}
.form-container{
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
label{
    color:#353535;
    font-size: 1rem;
    font-weight: 500;
    font-family:'Montserrat';
}
.input-holder{
    margin-top: 5px;
    border-radius: 6px;
    padding: 13px;
    border: 1px solid rgba(105, 105, 105, 1);
    font-family:'Montserrat';
    font-size:calc(1rem - 2px);
}
.password{
    position: relative;
}
.password > input{
    width: 100%;
}
.icon{
    color:#585858;
    position: absolute;
    top: 20px;
    right: 20px;
    /* font-size: 19px; */
}
.link-right{
    text-align: right;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: #2E7D32;
    font-size: 12px;
    margin: 5px 0;
}
.click-btn{
    background-color: #2E7D32;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 100px ;
    border-radius: 6px;
    font-size: 15px;
    border:1px solid transparent;
    font-family:'Poppins';
    font-size:calc(1rem);
    transition:all .2s ease-in-out;
    font-weight:500;
}
.link-bottom{
    margin: 12px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align:center;
}
.link-bottom-btn{
    color: #2E7D32;
    font-weight: 600;
}
button:hover{
    background-color: #FFA000;
    cursor: pointer;
    border: 1px solid #FFA000; 
    color:#fff
}
.link-right:hover, .link-bottom-btn:hover{
    color: #151515;
}

 
/* media queries */
@media (max-width: 500px){
    .btn{
        padding: 5px 70px;
    }
}
/* @media (min-width: 1024px){
    .btn{
        padding: 5px 150px;
    }
} */
