.home-header-about{background:linear-gradient(rgba(0, 0, 0, .65) ,rgba(0, 0, 0, 0.65)),url(../../assets/about-banner.png)!important;width:100%;}
.home-header-about{background-repeat:no-repeat!important;background-size:cover!important;background-position:center!important;}
.home-header-about{position:relative;z-index:1;padding:70px 0 150px;}
.about-main-body{background-color:#CEF1D50A;}
.about-header-flex{width:90%;margin:0px auto;padding:100px 0 0;}
.what-header,.what-img-header{width:50%;}
.what-we-do-img-header{display:flex;align-items:center;margin-bottom:100px;}
.our-mission-header p,.who-we-are-header p,.meet-our-team-description p{color:#151515;}
.our-mission-header{margin-top:40px;}
.our-mission-header p:first-child,.who-we-are-header p:first-child,.meet-our-team-description p:first-child{font-weight:500;font-size:calc(3rem - 2px);margin-bottom:20px;}
.our-mission-header p:last-child,.who-we-are-header p:last-child,.meet-our-team-description p:last-child{font-family:'Montserrat';font-size:calc(1rem + 2px);}
.what-img-header{display:flex;align-items:center;justify-content:center;}
.what-img-header img{width:80%;}
.our-team-header{margin:50px auto;width:100%;}
/* .our-team-flex{display:grid;grid-template-columns:repeat(auto-fit, minmax(350px,1fr));} */
.our-team-flex{display:flex;overflow-x:scroll;scroll-snap-type:inline mandatory;}
.our-team-flex::-webkit-scrollbar{height:5px;}
.our-team-flex::-webkit-scrollbar-thumb{background:#2E7D32;transition:all .5s ease-in-out;border-radius:8px;}
.our-team-flex::-webkit-scrollbar-track{background:#151515;border-radius:8px;}
.our-team-flex::-webkit-scrollbar-thumb:hover{background-color:#2E7D32;}

.team-header{margin:0 15px 50px;}
.team-header{min-width:calc(100% / 4);width:calc(100% / 4);scroll-snap-align:start;}
.team-header:first-child{margin-left:0;}
.team-header:last-child{margin-right:0;}
.team-img{border-radius:64px 0 64px 0;}
.team-img{position:relative;overflow:hidden;transition:all .3s ease-in-out;}
.team-img figure{display:flex;}
.team-img:hover figure img{transform:scale(1.5);}
.team-img figure img{width:100%;position:relative;transition:all .3s ease-in-out;}
.team-img figure figcaption{position:absolute;top:0;bottom:0;width:100%;height:100%;}
.team-img figure figcaption{display:flex;align-items:center;justify-content:flex-end;flex-direction:column;padding-bottom:40px;}
.member-name{font-weight:700;font-size:calc(1rem + 8px);color:#FEFEFE;margin-bottom:10px;}
.member-special{font-family:'Montserrat';font-weight:600;font-size:calc(1rem + 4px);color:#FEFEFEFE;}
.team-member-details{text-align:center;}
.team-member-details ul{display:flex;margin-top:20px;align-items:center;justify-content:center;}
.team-member-details ul li{list-style:none;margin:0 10px;}
.team-link i{font-size:1.5rem;color:#FFFFFF;}
.team-link{border:none;background-color:transparent;}
.team-link:hover{background-color:transparent;border:none;}

@media screen and (min-width:769px) and (max-width:1024px){
    .our-mission-header p:last-child, .who-we-are-header p:last-child, .meet-our-team-description p:last-child{font-size:calc(1rem);}
    .our-mission-header p:first-child, .who-we-are-header p:first-child, .meet-our-team-description p:first-child{font-size:2.5rem;}
    .member-name{font-size:1.2rem;margin-bottom:5px;}
    .team-member-details ul{margin-top:10px;}
    .member-special{font-size:calc(1rem);}
    .team-link i{font-size:1.2rem;}
}
@media screen and (max-width:768px) {
    .what-we-do-img-header{flex-direction:column-reverse;margin-bottom:50px;}
    .what-header, .what-img-header{width:100%;}
    .what-img-header{margin-bottom:40px;}
    .our-mission-header p:first-child, .who-we-are-header p:first-child, .meet-our-team-description p:first-child{font-size:2rem;}
    .team-header{min-width:calc(100% / 1.5);width:calc(100% / 1.5);margin:0 10px 30px;}
    .team-member-details ul{margin-top:10px;}
    .member-name{font-size:1rem;margin-bottom:5px;}
    .member-special{font-size:calc(1rem - 2px);}
    .team-link i{font-size:1rem;}
    .team-member-details ul li{margin:0 5px;}
}