/* .top-header{background-color:rgba(254, 254, 254, 1);} */
.top-header nav{background-color:rgba(254, 254, 254, 1);}
.top-header nav{display:flex;align-items:center;justify-content:space-between;padding:15px 50px;position:relative;z-index:2;}
.nav-list ul{display:flex;align-items:center;}
.nav-list ul li{margin:0 10px;list-style:none;padding:0 5px;}
.nav-list ul li a{color:#696969;font-size:calc(1rem);transition:all .2s ease-in-out;}
.nav-list ul li a:hover{font-weight:500;}
.nav-list ul li:first-child a{color:#2E7D32;}
.signup a button,.login a button{padding:10px 25px;margin:0 10px;transition:all .2s ease-in-out;border:1.5px solid #2E7D32;}
.signup a button,.login a button{border-radius:30px;font-family:inherit;font-weight:500;color:#2E7D32;background-color:transparent;}
.signup a button:hover,.login a button:hover{background-color:#2E7D32;color:#FEFEFEFE;}
.signup{margin-right:0;}
.login{margin-left:0;}
.login-signup-head{display:flex;align-items:center;}
.home-header{background:linear-gradient(rgba(0, 0, 0, .65) ,rgba(0, 0, 0, 0.65)),url(../../assets/herosection.jpg);width:100%;}
.home-header{background-repeat:no-repeat;background-size:cover;background-position:center;}
.home-header{position:relative;z-index:1;padding:70px 0 150px;}
.hero-section{display:flex;align-items:center;flex-direction:column;}
.hero p,.hero h1{color:#FEFEFE;text-align:center;}
.hero-one h1{font-size:3rem;font-weight:600;}
.hero-two p{font-family:'Montserrat';font-weight:500;font-size:calc(1rem + 4px);}
.hero-section{margin-top:80px;}
.hero-two{max-width:500px;margin-top:50px;}
.get-started{text-align:center;margin:40px 0 50px;}
.get-started-btn{width:fit-content;padding:10px 60px;font-family:'Montserrat';font-size:calc(1rem + 4px);}
.numbers-header{position:relative;text-align:center;display:flex;justify-content:center;margin-bottom:20px;}
.numbers-list{transform:translateY(calc(100% / -2));z-index:2;background-color:#FEFEFE;}
.numbers-list{width:fit-content;display:flex;align-items:center;justify-content:center;height:150px;}
.numbers-list{padding:0px 25px;box-shadow: -1px 4px 20px 1px #AFAFB11A;border-radius:8px;}
.numbers-list ul{display:flex;align-items:center;}
.numbers-list ul li{list-style:none;display:flex;align-items:center;flex-direction:column;padding:0 40px;}
.numbers-list ul li span{color:#585858;font-size:calc(1rem + 2px);font-family:'Montserrat';font-weight:500;}
.numbers-list ul li:nth-child(2){border:1px solid #9B9B9B;border-top:none;border-bottom:none;}
.numbers-list ul li p{color:#FFA000;font-size:3rem;;font-weight:600;}
.what-we-do-head{text-align:center;}
.main-header{margin:0px 0 100px;}
.what-we-do-head p{text-align:center;color:#151515;}
.what-we-do-head p:first-child{font-size:calc(3rem - 2px)}
.what-we-do-head p:last-child{font-size:calc(1rem + 4px);margin-top:15px;}