.home-header{background:linear-gradient(rgba(0, 0, 0, .65) ,rgba(0, 0, 0, 0.65)),url(../../assets/herosection.jpg)!important;width:100%;}
.home-header{background-repeat:no-repeat;background-size:cover;background-position:center;}
.home-header{position:relative;z-index:1;padding:70px 0 150px;}
.hero-section{display:flex;align-items:center;flex-direction:column;}
.hero p,.hero h1{color:#FEFEFE;text-align:center;}
.hero-one h1{font-size:3rem;font-weight:600;}
.hero-two p{font-family:'Montserrat';font-weight:500;font-size:calc(1rem + 4px);}
.hero-section{margin-top:80px;}
.hero-two{max-width:500px;margin-top:50px;}
.get-started{text-align:center;margin:40px 0 50px;}
.contact-us-btn,.get-started-btn{width:fit-content;padding:10px 60px;font-family:'Montserrat';font-size:calc(1rem + 4px);}
.numbers-header{position:relative;text-align:center;display:flex;justify-content:center;margin-bottom:20px;}
.numbers-list{transform:translateY(calc(100% / -2));z-index:2;background-color:#FEFEFE;}
.numbers-list{width:fit-content;display:flex;align-items:center;justify-content:center;height:150px;}
.numbers-list{padding:0px 25px;box-shadow: -1px 4px 20px 1px #AFAFB11A;border-radius:8px;}
.numbers-list ul{display:flex;align-items:center;}
.numbers-list ul li{list-style:none;display:flex;align-items:center;flex-direction:column;padding:0 40px;}
.numbers-list ul li span{color:#585858;font-size:calc(1rem + 2px);font-family:'Montserrat';font-weight:500;}
.numbers-list ul li:nth-child(2){border:1px solid #9B9B9B;border-top:none;border-bottom:none;}
.numbers-list ul li p{color:#FFA000;font-size:3rem;;font-weight:600;}
.what-we-do-head{text-align:center;}
.main-header{margin:0px 0 100px;}
.what-we-do-head p{text-align:center;color:#151515;}
.what-we-do-head p:first-child{font-size:calc(3rem - 2px);font-weight:500;}
.what-we-do-head p:last-child{font-size:calc(1rem + 4px);margin-top:15px;font-family:'Montserrat';font-weight:500;}
.offer-header{margin:100px 0 20px;}
.offer-flex{display:grid;grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));width:90%;margin:0 auto;}
.offer-card{padding:25px 50px;margin:0 25px 50px;display:flex;flex-direction:column;}
.offer-card{border-radius:8px;background-color:#FFFFFF;box-shadow: -1px 4px 20px 1px #AFAFB11A;}
.card-icon{background-color:#D5E5D6;width:70px;height:70px;display:flex;align-items:center;justify-content:center;border-radius:50%;}
.card-note{margin-top:20px;}
.card-note p{color:#151515;}
.card-note p:first-child{font-size:calc(1rem + 8px);font-weight:600;margin-bottom:10px;}
.card-note p:last-child{font-size:calc(1rem);font-weight:400;font-family:'Montserrat';margin-top:15px;}
.learn-more-link{margin-top:25px;}
.learn-more-link a,.learn-more-link a:hover span svg path,.blog-note-head a:hover span svg path{transition:all .3s ease-in-out;}
.learn-more-link a{display:flex;align-items:center;font-size:calc(1rem + 4px);font-weight:500;color:#2E7D32;}
.learn-more-link a span,.blog-note-head a span{display:flex;align-items:center;margin-left:5px;}
.learn-more-link a:hover span svg path,.blog-note-head a:hover span svg path{transform:translateX(5px);}
.learn-more-link a:hover span svg path:first-child,.blog-note-head a:hover span svg path:first-child{transition-delay:.3s;}
.learn-more-link a:hover span svg path:nth-child(2),.blog-note-head a:hover span svg path:nth-child(2){transition-delay:.2s;}
.learn-more-link a:hover span svg path:last-child,.blog-note-head a:hover span svg path:last-child{transition-delay:.1s;}
.about-header{width:90%;margin:0 auto;padding:50px 0;}
.about-flex{display:flex;align-items:center;}
.about-flex p:first-child{color:#151515;font-size:calc(2rem + 8px);font-weight:600;}
.about-flex p:last-child{color:#151515;font-size:calc(1rem + 2px);font-weight:400;font-family:'Montserrat';margin-top:15px;line-height:calc(1rem + 9px);}
.about-img{width:50%;margin-left:55px;}
.about-img img{width:75%;box-shadow:-35px 35px 0px 5px #08B92F;border-radius:16px;margin-right:auto;}
.about-note-header{width:50%;}
.learn-more-btn{margin-top:50px;}
.learn-more-btn button{background-color:transparent;border:1.5px solid #2E7D32;font-family:'Montserrat';font-weight:500;font-size:calc(1rem);}
.learn-more-btn button{color:#2E7D32;;height:50px;padding:0px 30px;position:relative;z-index:1;}
.learn-more-btn button:hover{color:#FEFEFEFE;}
.learn-more-btn button::after{content:"";background-color:#2E7D32;display:block;height:100%;position:absolute;top:0;left:0;}
.learn-more-btn button::after{width:0%;transition:all .3s ease-in-out;}
.learn-more-btn button:hover::after{width:100%;z-index:-1;}
.blog-header{margin:30px 0 100px;background-color:#CEF1D50A;}
.all-blog{width:90%;margin:0 auto;padding:50px 0;}
.blog-head P{font-size:calc(3rem - 2px);font-weight:500;}
.blog-note-head{display:flex;align-items:center;justify-content:space-between;}
.blog-note-head p{font-weight:500;font-family:'Montserrat';font-size:calc(1rem + 4px);}
.blog-note-head a{display:flex;align-items:center;transition:all .3s ease-in-out;color:#2E7D32;font-size:calc(1rem + 4px);}
.blog-note-head a span{margin-left:0px;}
.blog-note-head a:hover span svg path{visibility:visible;opacity:1;}
.blog-note-head a span svg path{opacity:0;visibility:hidden;}
.blog-head{margin:0 25px 50px;}
.blog-flex{display:grid;grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));}
.blog-card{margin:0 25px 50px;display:flex;flex-direction:column;}
.blog-card{border-radius:8px;box-shadow: -1px 4px 20px 1px #AFAFB11A;background-color:#FFFFFF;}
.blog-img img{width:100%;border-radius:8px;}
.blog-description{padding:20px 15px 30px;}
.blog-description p:first-child{color:#2E7D32;font-family:'Montserrat';font-weight:700;font-size:calc(1rem + 4px);margin-bottom:10px;}
.blog-description .date{color:#828282;font-family:'Montserrat';font-size:1rem;margin-bottom:10px;}
.blog-description p:last-child{font-size:calc(1rem + 2px);font-family:'Montserrat';font-weight:400;margin-top:15px;}
.changer-header{text-align:center;display:flex;align-items:center;justify-content:center;margin-top:15px;}
.changer-header p{width:15px;height:15px;margin:0 5px;border-radius:50%;background-color:#D9D9D9;transition:all .3s ease-in-out;}
.changer-header p:first-child{background-color:#2E7D32;}
.testimonial-header{margin:0px 0 100px;}
.people-say-head{margin-bottom:50px;}
.people-say-head p{text-align:center;color:#151515;}
.people-say-head p:first-child{font-size:calc(3rem - 2px);font-weight:500;}
.people-say-head p:last-child{font-size:calc(1rem + 4px);margin-top:15px;font-family:'Montserrat';font-weight:500;}
.testimony-head{display:grid;justify-content:center;grid-template-columns:repeat(auto-fit, minmax(500px, 1fr));}
.test-head{display:flex;align-items:center;justify-content:center;margin:20px 15px;}
.test-img{display:flex;align-items:center;justify-content:center;}
.test-img img{width:100%;}
.test-description{margin-left:15px;}
.test-description{box-shadow: -1px 4px 20px 1px #AFAFB11A;padding:15px 20px;background-color:#FFFFFF;border-radius:15px;}
.test-description p:first-child{font-family:'Inter';color:#121212;font-size:calc(1rem + 8px);font-weight:500;margin-bottom:10px;}
.test-description p:last-child{font-family:'Hanken Grotesk';color:#565656;font-size:calc(1rem - 2px);font-weight:500;}
.test-header{display:grid;grid-template-columns:repeat(auto-fit, minmax(500px, 1fr));}
.second-testimony-head{width:90%;margin:0 auto;}
.second-testimony-head .test-head:first-child{justify-content:start;}
.second-testimony-head .test-head:last-child{justify-content:end;}
.last-testimony-head{width:80%;margin:0 auto;}
.last-testimony-head .test-head:first-child{justify-content:start;}
.last-testimony-head .test-head:last-child{justify-content:end;}
.test-changer-header{text-align:center;display:flex;align-items:center;justify-content:center;margin-top:15px;}
.test-changer-header p{width:15px;height:15px;margin:0 5px;border-radius:50%;background-color:#D9D9D9;transition:all .3s ease-in-out;}
.test-changer-header p:nth-child(2){background-color:#2E7D32;}
.reach-out-head{margin-top:50px;}
.reach-out-head p{text-align:center;color:#151515;}
.reach-out-head p:first-child{font-size:calc(3rem - 2px);font-weight:500;}
.reach-out-head p:nth-child(2){font-size:calc(1rem + 4px);margin-top:15px;font-family:'Montserrat';font-weight:500;}
.reach-contact-head{margin-top:30px;display:flex;align-items:center;justify-content:center;}


@media screen and (max-width:768px){
    /* body.fixed{position:fixed;} */
    .hero-one h1{font-size:2.5rem;}
    .hero-one h1 br{display:none;}
    .main-header{width:95%;margin:0 auto 100px;}
    .offer-card{margin:0px 10px 50px;}
    .about-flex{flex-direction:column;}
    .about-img,.about-note-header{width:100%;}
    .about-img{margin:0 auto 70px;text-align:center;}
    .all-blog{width:100%;}
    .blog-head{margin:0 5px 25px;}
    .blog-note-head{flex-direction:column;align-items:flex-start;margin-top:10px;}
    .blog-note-head p,.blog-note-head a{font-size:1rem;}
    .blog-note-head a span svg{width:30px;height:15px;}
    .blog-note-head a{width:100%;justify-content:flex-end;margin:10px 15px 0 0;padding-right:15px;}
    .blog-card{margin:0 15px 50px;}
    .test-description p br{display:none;}
    .last-testimony-head,.second-testimony-head,.testimony-head{width:100%;}
    .test-head{width:100%;margin:20px auto;justify-content:space-between;}
    .test-description{width:90%;margin:15px auto;}
    .test-header{grid-template-columns:repeat(auto-fit, minmax(100%,1fr));}
    .testimony-head{display:flex;}
    .test-head{flex-direction:column;}
    .second-testimony-head .test-head:first-child{justify-content:initial;}
    .second-testimony-head .test-head:last-child{justify-content:initial;}
    .offer-card{padding:25px 30px;}
    .offer-flex{grid-template-columns:repeat(auto-fit, minmax(100%,1fr));}
    .blog-flex{grid-template-columns:repeat(auto-fit, minmax(100%,1fr))}
}

@media screen and (max-width:400px) {
    .offer-flex{grid-template-columns:repeat(auto-fit, minmax(100%,1fr));padding:25px 10px;}
    .blog-flex{grid-template-columns:repeat(auto-fit, minmax(100%,1fr))}
    .offer-card{padding:25px 10px;}
    .card-icon{width:35px;height:35px;}
    .card-icon svg{width:25px;height:25px;}
    .card-note p:first-child{font-size:1rem;}
    .card-note p:nth-child(2){line-height:20px;}
    .learn-more-link a{font-size:1rem;}
    .learn-more-link a span svg{width:30px;height:15px;}
    .learn-more-link{margin-top:10px;}
}